$color-primary: #ffe600;
$color-dark-grey: #333333;
$color-medium-grey: #666666;
$color-light-grey: #999999;
$color-background: #eeeeee;
$color-accent: #3483fa;
$color-white: #ffffff;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-md: 18px;
$font-size-lg: 24px;
$font-size-xl: 28px;
$font-size-xxl: 46px;

$spacing-regular: 16px;
$spacing-large: 32px;
